fastapi
langchain
langchain-core
uvicorn
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-google-genai
chromadb
sentence-transformers
pypdf
python-dotenv
python-multipart
aiofiles
tiktoken
